
<ion-content>
  <div class="ion-padding wrapper">
    <div class="top_items">
      <ion-row>
        <ion-item lines="none">
            <ion-icon name="heart-empty" slot="start"></ion-icon>
            <ion-avatar class="img_test">
              <ion-img class="" src="http://40.media.tumblr.com/01e34630ad842bb50ceb8360389c705a/tumblr_npdponGd2J1qkbpm3o1_500.png"></ion-img>
            </ion-avatar>
            <ion-icon name="more" slot="end" ></ion-icon>
        </ion-item>
      </ion-row>
    </div>
    <div class="song_list">
    <ion-row>
     <ion-list lines="none">
       <ion-item button [class.nowplaying]="track==item.Key" *ngFor="let item of files" (click)="TrackClick(item.Path,item.Key,item.Name,item.Index)">
        <ion-label slot="start">
          <ion-text>
            <h3>{{item.Name}}</h3>
          </ion-text>
        </ion-label>
          <ion-icon slot="end"  button name="play" class="btn-list"  *ngIf='state!="1" || track!=item.Key'> </ion-icon>
          <ion-icon slot="end" button name="pause"  class="btn-list-pause" *ngIf='state=="1" && track==item.Key'></ion-icon>
       </ion-item>
     </ion-list>
    </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="state=='1' || state=='2'"  (click)="presentModal()">
  <ion-toolbar >
  <div class="ion-padding"> 
   <div class="div_summary">
      <ion-text class="start">{{currentPosition_formatted}}</ion-text>
      <ion-text class="end">{{durration_formatted}}</ion-text>
    </div>
  <div>
    <ion-range min="0" [max]="durration" step="1" [(ngModel)]="currentPosition"  (ionChange)="SlideChange()"> </ion-range>
  </div>
  </div>
   <ion-item lines="none">
   <div class="btn_group">
    <ion-icon name="rewind" (click)=" Back()" class="btn-play" button></ion-icon>
    <ion-icon name="play" button  class="btn-play" *ngIf='state!="1"'   (click)="TrackClick(track_path,track,nowPlaying,nowPalyingIndex)"></ion-icon>
    <ion-icon name="pause" button *ngIf='state=="1"' class="btn-pause pause" (click)="TrackClick(track_path,track,nowPlaying,nowPalyingIndex)"></ion-icon>
    <ion-icon name="fastforward" button class="btn-play" (click)="Next()"></ion-icon>
  </div>
   </ion-item>
  <p>{{nowPlaying}}</p>
  </ion-toolbar>
</ion-footer>
